@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #101922;
  color: white;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100vh;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}
